/*

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*/

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  */


body{
    font-size: 18pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header, footer{
    background-color: rgba(240, 224, 79, 0.486);
    border: 3px rgba(224, 72, 21, 0.486) solid;
}
.renato{
    color: rgba(68, 7, 7, 0.486);
  } 
  #photo {
    box-shadow: 0 0 2px 1px #000000;    
}
.hobbies {
    list-style-type: square;
}
.hobbies li:nth-child(odd) {
    background-color: rgb(212, 131, 26);
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation li a{
    text-decoration: none;
    background-color: rgb(232, 92, 17);
    border: 3px rgb(52, 17, 0) solid;
}
.navigation li a:hover{
    background-color: #f0f0f0;
}